/* Global Styles */


@font-face {
    font-family: 'ACWW'; /* A name you will use to reference the font */
    src: url('fonts/ACWW.ttf') format('truetype');
    font-weight: bold; /* Optional: Specify weights like normal, bold */
    font-style: normal;  /* Optional: Specify styles like normal, italic */
}

/* Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: "ACWW", monospace;
    color: #6a2e2d;
    
    background: url('images/water.png');
    background-repeat: repeat;
    
}

/* Navbar */
.navbar {
    background-color: #320a4f;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navbar ul li {
    margin: 0 1em;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar ul li a:hover {
    color: #f5a623;
}

/* Floating Container */
.floating-container {
    margin: 2em auto;
    padding: 1em;
    max-width: 80%;
    background: #f9fcd1;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.grid-item {
    flex: 1 1 calc(30% - 2em);
    text-align: center;
}
.grid-item a {
    text-decoration: none;
}
.hover-block {
    background: #5c2d91;
    padding: 2em;
    border-radius: 10px;
    transition: transform 0.3s, background 0.3s;
}
.hover-block:hover {
    transform: scale(1.05);
    background: #a278d6;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em;
    background: #320a4f;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .grid-item {
        flex: 1 1 calc(100% - 2em);
    }
}
